header{
    background-color: $color-negro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .logo{
        img{
            max-height: 100px;
        }
    }
    nav{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            color: $color-bordo;
            li{
                margin-right: 20px;
                a{
                    font-family: 'Kanit', sans-serif;
                }
            }
        }
        
    }
}